<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>File Server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style type="text/css">
        #modal-1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 100px;
            padding: 20px;
            display: none;
            z-index: 100;
            background-color: #dae0e5;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container">
        <nav class="navbar navbar-dark  bg-primary">
            <a class="navbar-brand" href="/list">Главная</a>
            <a class="navbar-brand" href="/history">История</a>
            <a class="navbar-brand" href="/logout">Выход</a>
        </nav>

        <div align="right">
            <a href="/dropbox/list" class="btn btn-danger">Files in Dropbox</a>
        </div>

        <br>
        <h1 style="text-align:center">File Server</h1>
        <br>
        <form style="text-align:center" action="/api/files/upload" method="POST" enctype="multipart/form-data">

            <section class=" d-flex justify-content-center mb-4">
                <div style="width: 22rem;">

                    <input type="file" name="file" class="form-control bg-light" id="customFile" />

                </div>
                <p></p>

            </section>
            <input class="btn btn-primary mb-2" type="submit">
        </form>
        <br><br>
        <table class="table table-hover">
            <tbody>
                {{range .List}}
                <tr>
                    <td width=40%><b>{{ .Name }}</b></td>

                    <td width=1%>
                        <input type="hidden" name="id" value="{{.Name}}">
                        <button onclick="fillModal({{.Name}})" class="btn btn-outline-primary">Переименовать</button>

                    </td>

                    <td width=1%>
                        <form action="/api/files/download" method="GET">
                            <input type="hidden" name="action" value="download">
                            <input type="hidden" name="id" value="{{.Name}}">
                            <button class="btn btn-outline-success">Скачать</button>
                        </form>
                    </td>
                    <td width=40%>
                        <form action="/api/files/delete" method="POST">
                            <input type="hidden" name="action" value="remove">
                            <input type="hidden" name="id" value="{{.Name}}">
                            <input type="hidden" name="rev" value="{{.Rev}}">
                            <button class="btn btn-outline-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>


        <div id="modal-1">
            <form action="/api/files/move" method="POST">
                <input id="inf2" name="id2" type="hidden">
                <input id="inf" name="id" style="width: 100%;" autofocus autocomplete="off">
                <br>
                <button class="btn btn-primary mb-2">Переименовать</button>
                <span class="btn btn-primary mb-2" onclick="
                        document.getElementById('modal-1').style.display = 'none';">Отмена</span>

            </form>
        </div>
		<br>
        <footer class=" bg-primary text-center text-lg-start">
            <div class="text-center text-white p-3">
                © 2021 Copyright: Alif Academy
            </div>
        </footer>
        <script>

            function fillModal(name) {
                document.getElementById('modal-1').style.display = 'block';
                document.getElementById('inf').value = name;
                document.getElementById('inf2').value = name;
            }	
        </script>
</body>

</html>